<template>
    <tr>
        <td bgcolor="#FFFFFF"
            style="border-radius:0px 0px 3px 3px;color:#777777;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:25px;padding:30px 50px 35px 50px">
            <span style="color:#222222;font-family:Helvetica,Arial,sans-serif;font-size:32px">
                Welcome {{name}}! </span><br><br>Password reset successful
            <br />
            <br />
            You can login to account now with new password
            <br />
            <br />
            <a href="{{Url}}/account/login/" target="_blank" data-saferedirecturl=""
                style="border-radius:3px;background:#2196F3;color:#fff;font-size:32px;text-decoration:none;padding:10px 50px;margin:40px 0;">
                Login to CodeNx
            </a>
            <br />
            <br />
        </td>
    </tr>
</template>